@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #615055;
    margin: 0;
}

.menu-container {
    background-color: #946E83;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;

    width: 100%;
    height: 90px;
    border-radius: 0px;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 45%;
    
}

.menu-item {
    color: #CDD5D1;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

a:hover {
    text-decoration: underline;
}

a:link,
a:visited {
    color: #CDD5D1;
}


h1 {
    font-weight: 400;
    font-size: 70px;
    line-height: 75px;
}

h2 {
    padding-top: 20px;
    font-weight: 400;
    font-size: 36px;
    line-height: 28px;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 112px;

    color: #946E83;
}

.header {
    padding-top: 150px;
    padding-left: 70px;
    height: 500px;
}

.header-color {
    color: #DDF8E8;
    font-style: normal;
}    

.header-container {
    display: flex;
    width: 100%;
    margin: 0;
    align-items: flex-end;
    border: 1px solid blue;
    flex-direction: column;
    height: 500px;
}

.header > h1, h2 {
    color: #CDD5D1;
    font-style: normal;
}

.vector1 {
    margin-top: auto;
}

.about-container {
    padding: 0;
    margin: 0;
}

.about {
    width: 100%;
    border: 1px solid blue;
    display: flex;
}

.about-list {
    margin-left: auto;
}

.about-list > li {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #CDD5D1;
}







